// color
$dark       : #2B333E;
$deepDark   : #252c35;
$bgcolor    : #F3F5F8;
$fontcolor  : #676a6d;
$grey1      : #AEB7C2;
$grey2      : #ededed;
$grey3      : #c2c2c2;
$red        : #cd0c25;
$blue       : #00AAFF;
$brown      : #b18832;
$grey       : #48494c;
$purple     : #3d3f76;
$green      : #2d6d91;
$white      : #fff;
$yellow     : #E8B270;

$greenlight : #03fafa;
$yellowlight: #f9e97e;
$brownlight : #ea8d70;

$bluedark   : #204271;

// font-family
$fontlight  : "PingFangSC-Light", "PingFang SC", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;

//
$baseblank  : 80px;
$smallblank : 60px;
$miniblank  : 30px;